*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fb;
    color:#333;
}

header{
    background:#003366;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    position:sticky;
    top:0;
}

header h2{
    font-size:28px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd700;
}

.hero{
    background:linear-gradient(135deg,#003366,#0066cc);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.7;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 35px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.btn:hover{
    background:#e68900;
}

.services{
    padding:70px 8%;
    text-align:center;
}

.services h2{
    font-size:38px;
    margin-bottom:40px;
}

.service-box{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:260px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h3{
    color:#003366;
    margin-bottom:15px;
}

.about{
    background:white;
    padding:70px 8%;
    text-align:center;
}

.about h2{
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

.contact{
    background:#003366;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.contact p{
    margin:15px 0;
}

footer{
    background:#001933;
    color:white;
    text-align:center;
    padding:20px;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    height:60px;
    width:auto;
}

.logo-text h2{
    color:white;
    margin:0;
    font-size:28px;
}

.logo-text p{
    color:#ddd;
    margin-top:4px;
    font-size:14px;
}
